# macOS
.DS_Store

# IntelliJ - ignore everything except shared settings
.idea/*
!.idea/codeStyles/
!.idea/vcs.xml

# IntelliJ - generated
out/
*.iws

# Gradle
.gradle
**/build/
!src/**/build/
!gradle-wrapper.jar
!gradle-wrapper.properties