# macOS
.DS_Store

# IntelliJ - user-specific
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/gradle.xml
.idea/**/libraries

# IntelliJ - generated
out/
*.iws

# Gradle
.gradle
**/build/
!src/**/build/
!gradle-wrapper.jar
!gradle-wrapper.properties